.additional-products {
  padding-top: 28px;
  padding-bottom: 35px;
  overflow-x: hidden;
}

.additional-products__title {
  margin-top: 0;
  margin-bottom: 34px;
}

.additional-products__list {
  @include list-reset;
  box-sizing: border-box;
  max-width: 500px;
  border-top: 1px solid $special_grey-2;
  margin: 0 auto 38px;
}

@media (min-width: $tablet-width) {
  .additional-products {
    padding-top: 44px;
    padding-bottom: 72px;
  }

  .additional-products__list {
    max-width: 708px;
    border-left: 1px solid $special_grey-2;
    border-right: 1px solid $special_grey-2;
    margin-top: 45px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__content {
    display: grid;
    grid-template-columns: auto 245px;
    column-gap: 80px;
  }

  .additional-products__list {
    border-left: none;
    border-right: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    max-width: none;
  }
}
