.card {
  border-bottom: 1px solid $special_grey;
  border-top: 1px solid $special_grey;
  padding: 19px 0 25px 0;
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black-2;
  margin: 0;
}

.card__description {
  margin: 0 0 13px 0;
}

.card__description dd {
  margin: 0;
}
