.contacts {
  background-color: $basic_grey;
  text-align: center;
}

.contacts__logo {
  display: block;
  border-bottom: 1px solid $border;
}

.contacts__developers a {
  font-family: Arial, sans-serif;
  color: $special_dark-grey;
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    justify-content: space-between;
  }
}
