.contacts__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin-bottom: 32px;
}

.contacts__developers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family-second;
  color: $special_dark-grey;
  font-size: 16px;
  text-decoration: none;
  width: 100%;
  padding: 22px 0;
}

.contacts__developers svg {
  fill: $special_grey-3;
}

@media (min-width: $tablet-width) {
  .contacts__logo {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .contacts__developers {
    width: 310px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__developers {
    width: 222px;
  }
}
