@for $i from 1 through 4 {
  .features__item--step-#{$i}::before {
    content: "";
    display: inline-block;
    background-image: url("../../img/features/logo-step-#{$i}.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
  }
}

.features {

}

.features__list {
  @include clear-list;
}
