.form-request__fieldset-reset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form-request__cat-info {
  margin-bottom: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-request__select-programm {
  margin-left: calc(var(--content-padding-mobile) * -1);
  margin-right: calc(var(--content-padding-mobile) * -1);
  margin-bottom: 28px;
  padding: 20px var(--content-padding-mobile);
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}

.form-request__contacts {
  margin-bottom: 10px;
  padding-top: 33px;
  padding-bottom: 18px;
}

.form-request__additionally {
  margin-bottom: 10px;
  padding-top: 34px;
  padding-bottom: 22px;
}

.form-request__legend {
  max-width: 182px;
}

.form-request__list {
  @include list-reset;
  display: grid;
  row-gap: 13px;
}

.form-request__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-request__label {
  position: relative;
  margin-right: 12px;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
}

.form-request__label-radio,
.form-request__label-checkbox {
  display: flex;
  align-items: center;
  padding-left: 46px;
}

.form-request__label-radio {
  --radio-outer-diameter: 30px;
  --radio-inner-diameter: 13px;
  min-height: var(--radio-outer-diameter);
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &::before {
    content: "";
    box-sizing: border-box;
    left: 0;
    width: var(--radio-outer-diameter);
    height: var(--radio-outer-diameter);
    border: 1px solid $border;
    background-color: transparent;
  }
}

.form-request__item input[type="radio"]:checked + .form-request__label-radio::after {
  left: calc((var(--radio-outer-diameter) - var(--radio-inner-diameter)) / 2);
  width: var(--radio-inner-diameter);
  height: var(--radio-inner-diameter);
  background-color: $basic_green;
}

.form-request__label-checkbox {
  --checkbox-width: 30px;
  --checkbox-height: 30px;
  --checkbox-tick-width: 16px;
  --checkbox-tick-height: 8px;
  min-height: var(--checkbox-height);
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: var(--checkbox-width);
    height: var(--checkbox-height);
    border: 1px solid #cdcdcd;
    background-color: $basic_white;
  }
}

.form-request__item input[type="checkbox"]:checked + .form-request__label-checkbox::after {
  content: "";
  position: absolute;
  left: calc((var(--checkbox-width) - var(--checkbox-tick-width)) / 2);
  top: calc((var(--checkbox-width) - var(--checkbox-tick-width)) / 2);
  width: var(--checkbox-tick-width);
  height: var(--checkbox-tick-height);
  transform: rotate(-45deg);
  border-left: 2px solid #68b738;
  border-bottom: 2px solid #68b738;
}

.form-request input:not([type="radio"]):not([type="checkbox"]) {
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px solid $border-2;
  padding: 12px;
  min-height: 46px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  outline: 0;
}

.form-request__button {
  width: 100%;
}

.form-request__notification {
  font-family: $font-family-second;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .form-request__cat-info {
    margin-bottom: 56px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .form-request__select-programm {
    margin-left: 40px;
    margin-right: 37px;
    padding: 25px 0;
    border: 1px solid $border;
    margin-bottom: 67px;
  }

  .form-request__contacts {
    margin-bottom: 30px;
    padding-top: 75px;
    padding-bottom: 38px;
  }

  .form-request__additionally {
    padding-top: 57px;
    padding-bottom: 55px;
    margin: 0;
  }

  .form-request__additionally .form-request__list {
    grid-template-columns: repeat(2, minmax(285px, 500px));
    row-gap: 32px;
    column-gap: 60px;
  }

  .form-request__legend {
    max-width: none;
  }

  .form-request__list {
    row-gap: 18px;
    padding-left: 40px;
    padding-right: 37px;

    &--select-programm {
      padding-left: 27px;
    }
  }

  .form-request__label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 17px;
  }

  .form-request__label-radio {
    --radio-outer-diameter: 40px;
    --radio-inner-diameter: 18px;
    padding-left: 61px;
  }

  .form-request__label-checkbox {
    --checkbox-width: 40px;
    --checkbox-height: 40px;
    --checkbox-tick-width: 16px;
    --checkbox-tick-height: 8px;
    padding-left: 59px;
  }

  .form-request input:not([type="radio"]):not([type="checkbox"]) {
    padding: 9px 18px;
    min-height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  .form-request__button {
    width: 285px;
    display: inline-block;
    margin-right: 61px;
    margin-left: 40px;
    font-size: 20px;
    padding: 16px 10px;
  }

  .form-request__notification {
    display: inline-block;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-request {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }

  .form-request__cat-info {
    padding-top: 0;
  }

  .form-request__select-programm {
    margin: 0 0 62px;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .form-request__contacts {
    margin-bottom: 32px;
    grid-column: 1 / -1;
  }

  .form-request__list {
    padding: 0;

    &--select-programm {
      padding: 0 28px;
      row-gap: 13px;
    }
  }

  .form-request__contacts .form-request__list {
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }

  .form-request__additionally .form-request__list {
    grid-template-columns: repeat(4, 245px);
    row-gap: 40px;
    column-gap: 80px;
  }

  .form-request__additionally {
    margin-bottom: 7px;
    grid-column: 1 / -1;
  }

  .form-request__button {
    width: 100%;
    margin-left: 0;
  }

  .form-request__notification {
    text-align: left;
    margin-top: 13px;
  }
}
