.main-nav__logo {
  width: 235px;
  height: 66px;
  display: block;
  margin: 0;
}

.main-nav__toggle-menu {
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 2;
  width: 24px;
  height: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &--closed {
    height: 1.5px;
    background-color: $basic_black;
    box-shadow: 0 8px 0 0 $basic_black, 0 16px 0 0 $basic_black;
  }
}

.main-nav__toggle-menu--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: $basic_black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}

.main-nav__toggle-menu--nojs {
  display: none;
}

.main-nav__site-list {
  &--closed {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .main-nav__logo {
    width: 190px;
    padding: 3px 0 0;
  }

  .main-nav__toggle-menu {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding-top: 54px;
    padding-bottom: 28px;
  }

  .main-nav__logo {
    padding: 0;
  }
}
