.page-main__header {
  padding-top: 15px;
  padding-bottom: 13px;
}

.page-main__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.page-main__subtitle {
  margin-top: 25px;
  max-width: 260px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    margin-top: 18px;
    margin-bottom: 40px;
    font-size: 60px;

    &--form-page {
      margin-left: 38px;
    }
  }

  .page-main__subtitle {
    margin-top: 55px;
    margin-left: 40px;
    max-width: 380px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    padding-top: 28px;
  }

  .page-main__title--form-page {
    margin-left: 0;
  }

  .page-main__subtitle {
    margin-left: 0;
  }
}
