.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic_black;
}

@media (min-width: $tablet-width) {
  .page__body {
    font-size: 16px;
    line-height: 24px;
  }
}
