.page-footer {
  position: relative;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 23px;
  background-color: $basic_grey;
}
