.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  margin: 0;
  min-width: $mobile-width;
  min-height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  color: $basic_black;
  background-color: $basic_white;

  @media (min-width: $tablet-width) {
    font-size: $font-size-base--tablet;
    line-height: $line-height-base--tablet;
  }
}
