.preview {
  background-image: url("../../img/promo/promo-bg-mobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  // background-color: rgba($basic_green, $alpha: 0.85);
}

.preview__title {
  line-height: 36px;
  color: $basic_white;
  text-align: center;
}

.preview__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic_white;
}
