.preview {
  color: $basic_white;
  text-align: center;
  margin: 0 0 22px 0;
  position: relative;
}

.preview__wrapper {
  height: 480px;
  width: 280px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -27px;
    right: -20px;
    height: 300px;
    width: 320px;
    background-image:
      linear-gradient(rgba($color: $basic_green, $alpha: 0.85), rgba($color: $basic_green, $alpha: 0.85)),
      url("../../img/promo/promo-bg-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.preview__inner {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 280px;
    height: 270px;
    background-image: url("../../img/promo/promo-product.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 29px 0 0 0;
  }
}

.preview__title {
  line-height: 36px;
  margin: 0 0 25px 0;
}

.preview__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .preview {
    color: $basic_black;
    text-align: left;
  }

  .preview__wrapper {
    width: 575px;
    height: 810px;

    &::before {
      display: none;
    }
  }

  .preview__inner {
    &::after {
      position: absolute;
      top: 100%;
      right: -15%;
      width: 709px;
      height: 609px;
      z-index: -1;
    }
  }

  // Заменить глобальный класс если требуется
  .preview__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin: 0 0 41px 0;
  }

  .preview__subtitle {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 49px 0;
  }
}

@media (min-width: $desktop-width) {
  .preview__wrapper {
    padding: 64px 0 0 160px;
    width: 1220px;
    height: 447px;
    position: relative;

    &::before {
      display: block;
      top: -159px;
      right: -32px;
      width: 720px;
      height: 692px;
      background-image:
        linear-gradient(rgba($color: $basic_green, $alpha: 0.85), rgba($color: $basic_green, $alpha: 0.85)),
        url("../../img/promo/promo-background.jpg");
    }
  }

  .preview__inner {
    max-width: 575px;

    &::after {
      top: -62%;
      left: 64%;
      height: 499px;
    }
  }
}
