.production {
  border-top: 1px solid $special_grey;
  border-bottom: 1px solid $special_grey;
}

.production__list {
  @include list-reset;
  display: grid;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .production {
    border: none;
  }

  .production__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 60px;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .production__list {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 55px;
  }
}
