.programm-section {
  background-color: $background-2;
  padding: 21px 0 18px 0;
  margin: 0 0 20px 0;
}

.programm-section__title {
  height: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 0 22px 0;
  &--sliming::before {
    content: "";
    display: inline-block;
    background-image: url("../../img/programm-section/logo-sliming.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 53px;
    margin: 0 19px 0 0;
  }
  &--set-of-mass::before {
    content: "";
    display: inline-block;
    background-image: url("../../img/programm-section/logo-set-of-mass.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 67px;
    height: 50px;
    margin: 0 11px 0 0;
  }
}

.programm-section__description {
  font-family: Arial, sans-serif;
  color: $special_dark-grey;
  border-bottom: 1px solid $border;
  margin: 0 0 15px 0;
  padding: 0 0 23px 0;
}

.programm-section__to-catalog {
  font-size: 16px;
  line-height: 16px;
  color: $basic_black;
  text-transform: uppercase;
}
