.programm-section__wrapper {
  background-color: $background-2;
  padding: 21px 20px 18px;
  margin: 0 20px 20px 20px;
}

.programm-section__title {
  height: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

.programm-section__description {
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  border-bottom: 1px solid $border;
  margin: 0 0 15px 0;
  padding: 0 0 23px 0;
}

.programm-section__to-catalog {
  font-size: 16px;
  line-height: 16px;
  color: $basic_black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .programm-section__wrapper {
    padding: 53px;
    margin: 0 30px 20px 30px;
  }

  .programm-section__title {
    font-size: 36px;
    line-height: 36px;
  }

  .programm-section__description {
    border: none;
    margin: 0 0 48px 0;
  }

  .programm-section__to-catalog {
    font-size: 20px;
    line-height: 29px;
  }
}

@media (min-width: $desktop-width) {
  
}
