.questionary {

}

.questionary__caption {
  text-transform: uppercase;
  margin: 0 0 39px 0;
}

.questionary__description {
  font-family: Arial, sans-serif;
  text-align: center;
  line-height: 16px;
}
