.result-list {
  margin-top: 0;
  margin-bottom: 35px;
}

.result-list__item {
  position: relative;
  box-sizing: border-box;
  padding: 15px 5px;
  width: 44%;
  min-height: 24px;
  border: 1px solid $special_grey-2;
  border-radius: 3px;
  background-color: $basic_grey;
}

.result-list__term {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(72%);
  font-family: $font-family-second;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.result-list__term span {
  display: inline-flex;
  max-width: 70%;
  background-color: $basic_grey;

  &::before {
    content: "";
    margin-right: 10px;
  }

  &::after {
    content: "";
    margin-left: 10px;
  }
}

.result-list__description {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: $basic_black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .result-list {
    width: 366px;
  }

  .result-list__item {
    padding: 15px 10px 18px;
    background-color: $basic_white;
  }

  .result-list__term {
    transform: translateY(50%);
    font-size: 14px;
    line-height: 14px;
  }

  .result-list__term span {
    max-width: 94%;
    background-color: $basic_white;
  }

  .result-list__description {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: $desktop-width) {
  .result-list {
    margin-bottom: 56px;
  }

  .result-list__item {
    background-color: $basic_grey;
  }

  .result-list__term span {
    background-color: $basic_grey;
  }

  .result-list__description {
    font-size: 30px;
    line-height: 37px;
  }
}
