.site-list {
  @include clear-list;
  text-align: center;
}

.site-list__item {
  padding: 22px 0;
  border-bottom: 1px solid $border-2;
}

.site-list__item a {
  display: inline-block;
  color: $basic_black;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }

  .site-list__item {
    padding: 0;
    border: none;
  }

  .site-list__item a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 478px;
  }

  .site-list__item a {
    font-size: 20px;
    line-height: 29px;
  }
}
