.slider__image {
  display: none;

  &--show {
    display: block;
  }
}

.slider__controls {
  display: flex;
  justify-content: space-between;
}

.slider__after,
.slider__before {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
