.socials-list {
  @include list-reset;
  padding: 19px 0;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list__icon {
  fill: $special_grey-3;

  &--vk {
    width: 24px;
    height: auto;
  }

  &--instagram {
    width: 16px;
    height: auto;
  }

  &--fb {
    width: 13px;
    height: auto;
  }

  &:focus,
  &:hover {
    fill: $basic_green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .socials-list__item {
    margin-right: 33px;

    &:last-child {
      margin: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .socials-list {
    border: none;
  }

  .socials-list__item {
    margin-right: 26px;
  }

  .socials-list__icon {
    &--vk {
      width: 32px;
    }

    &--instagram {
      width: 25px;
    }

    &--fb {
      width: 18px;
    }
  }
}
