.stats {
  background-color: $background-2;
}

.stats__list dt {
  font-size: 24px;
  line-height: 24px;
}

.stats__list dd {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
}

.stats__lead {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
