.stats {
  padding-top: 17px;
  background-color: $background-2;
}

.stats__text-wrapper {
  padding-bottom: 18px;
}

.stats__title {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: $basic_black;
}

.stats__text {
  margin-top: 14px;
  margin-bottom: 14px;
  font-family: $font-family-second;
  color: $special_dark-grey;
}

.stats__result-wrapper {
  padding-top: 10px;
}

.stats__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.stats__lead {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.stats__slider {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .stats {
    border-top: 1px solid $border-2;
    background-color: $basic_white;
    background-image: linear-gradient($basic_white 0%, $basic_white 57%, $basic_grey 57%, $basic_grey 100%);
  }

  .stats__wrapper {
    padding: 0 30px 70px;
  }

  .stats__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 42px;
    margin-bottom: 65px;
  }

  .stats__text {
    width: 700px;
  }

  .stats__result-wrapper {
    display: flex;
    align-items: center;
  }

  .stats__list {
    grid-template-columns: repeat(2, min-content);
    column-gap: 42px;
  }

  .stats__lead {
    margin: 0 0 0 auto;
    font-size: 20px;
    line-height: 29px;
    width: 174px;
    text-align: right;
    padding-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    border: none;
    background-image: linear-gradient($basic_white 0%, $basic_white 29%, $basic_grey 29%, $basic_grey 100%);
    padding-bottom: 64px;
  }

  .stats__wrapper {
    display: flex;
  }

  .stats__result-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .stats__lead {
    text-align: left;
    margin: 0;
    width: auto;
  }
}
