$basic_black: #000000;
$special_black: #111111;
$basic_white: #ffffff;
$basic_green: #68b738;
$basic_green-2: #5eaa2f;
$basic_grey: #f2f2f2;
$special_grey: #ebebeb;
$special_grey-2: #cdcdcd;
$special_grey-3: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$status_error: #ff8282;
$background: #e5e5e5;
$background-2: #eaeaea;
$border: #d9d9d9;
$border-2: #e6e6e6;
