a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  background-color: $basic_green;
  color: $basic_white;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  width: 100%;
  padding: 11px 0;
  &:hover,
  &:focus {
    background-color: $basic_green-2;
  }
  &:active {
    color: rgba($color: $basic_white, $alpha: 0.3);
  }
  &--to-all {
    color: $special_dark-grey;
    background-color: $basic_grey;
    &:hover,
    &:focus {
      background-color: $special_grey;
    }
    &:active {
      color: rgba($color: $special_dark-grey, $alpha: 0.3);
    }
  }
}

.title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 38px 0;
  &--legend {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 36px 0;
  }
}
